
body {
    background-color: lightgrey;
}

h1 {
	font-family: 'Raleway', sans-serif;
}

h2 {
	font-family: 'Oxygen', sans-serif;
	
}

h3 {
	font-family: 'Oxygen', sans-serif;
	font-size: 14px;
}

table {

	
  }

th, td {
	

}



.green{ 
    background: green;
}

.completeButton {
	background-color:#44c767;
	border-radius:15px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:4px 4px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.completeButton2 {
	background-color:#bee60e;
	border-radius:15px;
	border:1px solid #c8ee21;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:4px 4px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7db106;
}

.submitButton {
	background-color:#291dca;
	border-radius:15px;
	border:1px solid #103cb8;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:4px 4px;
	text-decoration:none;
	text-shadow:0px 1px 0px #0b19df;
}

.completeButton:hover {
	background-color:#3f831d;
}
.completeButton:active {
	position:relative;
	top:1px;
}

.deleteButton {
	background-color:#fe1a00;
	border-radius:15px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:4px 4px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.deleteButton:hover {
	background-color:#ce0100;
}
.deleteButton:active {
	position:relative;
	top:1px;
}

.top-space {
	margin-top: .5cm;
 }